@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"),
      url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana DemiBold"),
      url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Lalezar";
    src: local("Dana DemiBold"),
      url("/fonts/Dana/woff2/Lalezar-Regular.ttf") format("ttf");
    font-display: swap;
  }
}
@layer components {
  .largeBtn {
    @apply w-full inline-flex items-center justify-center font-DanaMedium py-3 px-4;
  }
  .tr-300 {
    @apply transition-all duration-300;
  }
  .nav-item {
    @apply flex items-center cursor-pointer text-gray-800 select-none whitespace-nowrap;
  }
  .nav-item-title {
    @apply font-DanaMedium text-base leading-7 flex items-center mt-[3px] text-gray-800;
  }
  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.08) 0px -1px 3px;
  }
  .custom-right-border {
    border-right: 8px solid;
  }
  .custom-submenu-gradient {
    background-color: linear-gradient(
      to right,
      #ffffffa6 -1%,
      rgb(255, 255, 255) 92%
    ) !important;
  }
}
.Toastify__toast--rtl {
  direction: rtl !important;
  text-align: center !important;
}

/* nav-items */
.nav-item div::after {
  content: "";
  width: 100%;
  height: 3px;
  display: none;
  position: absolute;
  bottom: 0px;
  border-radius: 50px;
  background-color: rgb(37, 170, 225);
}

.nav-item:hover > div:first-of-type::after {
  display: block !important;
}
.point {
  @apply hidden w-[20px];
}
.nav-item {
  @apply lg:w-[110px] w-[120px];
}

.nav-item:hover .point:first-of-type {
  display: block !important;
}

.nav-item:hover .nav-title,
.nav-item:hover .nav-item-title {
  @apply text-blue_base;
}

/* complete profile */

.owner-radio:checked > .owner-backdrop {
  @apply bg-blue_base;
}
.contents-container > div {
  width: calc(50% - 12px);
  @apply grow-0 shrink-0;
}

/* grid banners section styles */

.custom-banners {
  @apply text-right lg:p-8  p-5 rounded-[22px]  lg:rounded-3xl  w-full h-full flex gap-8  bg-[#F8F8F8];
}

/* react tag components */
.rti--container {
  @apply bg-secondary-200  w-full mt-1;
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  border: none;
}
.rti--container .rti--input {
  @apply text-sm w-full;
}

.rti--tag {
  @apply bg-secondary-500 text-secondary-900  text-sm;
}

/* custom style for filter-sheet & button sheet */
.sort-btn {
  display: inline-block;
  border-radius: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.sort-btn--active {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246);
  @apply font-DanaMedium;
  --tw-text-opacity: 1;
  color: rgb(63 63 70);
}
.bottom-sheet {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 50;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.bottom-sheet--open {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.bottom-sheet__header {
  display: flex;
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}
.bottom-sheet__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-text-opacity: 1;
  color: rgb(148 163 184);
}
.bottom-sheet__name {
  @apply font-DanaBold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(63 63 70);
}
.bottom-sheet__body {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bottom-sheet__item--selected {
  @apply font-DanaMedium;
  --tw-text-opacity: 1;
  color: rgb(63 63 70);
}
.bottom-sheet__item {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
/* filter sheet in small devices */
.filter-sec {
  visibility: hidden;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 50;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}
.filter__clean-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
  border-radius: 0.75rem;
  background-color: rgb(236 72 153 / 0.1);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(236 72 153);
}
.filter__footer {
  margin-top: 1.5rem;
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
.filter__submit-btn {
  @apply font-DanaBold;
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(46 213 115);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
}
.filter--open {
  visibility: visible;
  opacity: 1;
}
